@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mx-auto justify-content-center align-items-center flex-column ">
    <div class="col-8">
        <div class="card  bg-transparent border-0">
            <div class="card-body">
                <div class="card-img text-center">
                    <img src="~/images/ANR.png" />
                </div>
            </div>
        </div>

    </div>
</div>